footer {
  justify-content: space-between;
  padding-bottom: 2rem;
}

footer ul {
  gap: 1rem;
}

footer ul a {
  color: var(--subtitle);
  font-size: 0.9rem;
  font-weight: 400;
  transition: 0.3s;
}

footer ul a:hover {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
}

footer p {
  color: #71717a;
  font-size: 1rem;
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  footer p {
    font-size: 0.8rem;
  }
}