.hero {
  margin-top: 3rem;
}
.hero .left-section {
  flex-grow: 1;
}

.hero .parent-avatar {
  align-items: end;
  gap: 0.6rem;
  min-height: 80px;
}

.hero .parent-avatar .avatar {
  width: 80px;
  border-radius: 50%;
  border: 1px solid var(--blue);
  padding: 1px;
}

.hero .parent-avatar .icon-verified {
  color: var(--blue);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.hero .title {
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin: 24px 0;
  color: var(--title);
}

.hero .sub-title {
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 32px;
}

.hero .all-icons {
  font-size: 1.2rem;
  gap: 1.5rem;
  color: var(--subtitle);
}

.hero .all-icons .icon:hover {
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
  color: var(--icon-hover);
}

.hero .animation {
  width: 80%;
  translate: 45px 15px;
}

@media (max-width: 1200px) {
  .hero .animation  {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero .animation  {
    display: none;
  }
}